# Pandas
Data analysis library used in Python

In [2]:
import pandas as pd

# 1. Series
1-dimensional data (integer, floats, strings, etc.)

## Series object creation
Ex.) Average temperature data from January to April (-20, -10, 10, 20)

In [4]:
temp = pd.Series([-20, -10, 10, 20])
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [5]:
temp[0] # temperature in January

-20

In [6]:
temp[2] # temperature in March

10

# Series object creation (indicating index)

In [7]:
temp = pd.Series([-20, -10, 10, 20], index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [8]:
temp['Jan'] # data output corresonding to index 'Jan'

-20

In [9]:
temp['Apr'] # data output corresponding to index 'Apr'

20

In [ ]:
# temp['Jun'] # Error when accessing to the non-existent index