In [1]:
%%writefile myfile.txt
Hello this is a text file.
This is the second line.
This is the third line.

Writing myfile.txt

In [2]:
myfile = open('myfile.txt')

In [3]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [4]:
pwd

'/Users/wkbae/Programming/2.Python/2.Jupyter_Notebooks'

In [5]:
myfile = open('myfile.txt')

In [6]:
myfile.read()

'Hello this is a text file.\nThis is the second line.\nThis is the third line.\n'

In [7]:
myfile.read()

''

In [8]:
myfile.seek(0)

0

In [9]:
myfile.read()

'Hello this is a text file.\nThis is the second line.\nThis is the third line.\n'

In [10]:
myfile.read()

''

In [11]:
myfile.seek(0)

0

In [12]:
contents = myfile.read()

In [13]:
contents

'Hello this is a text file.\nThis is the second line.\nThis is the third line.\n'

In [14]:
myfile.seek(0)

0

In [15]:
myfile.readlines()

['Hello this is a text file.\n',
 'This is the second line.\n',
 'This is the third line.\n']

In [16]:
pwd

'/Users/wkbae/Programming/2.Python/2.Jupyter_Notebooks'

In [17]:
myfile.close()

In [18]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [19]:
contents

'Hello this is a text file.\nThis is the second line.\nThis is the third line.\n'

In [28]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [29]:
contents

''

In [30]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [31]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [37]:
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

In [38]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [39]:
cat my_new_file.txt

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [40]:
with open('djksjaldjflsj.txt', mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [42]:
with open('djksjaldjflsj.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE!